<!-- <p>link-menu works!</p> -->
<ul>
    <li class="li"><a href="https://www.hautsdefrance.fr/categorie/les-sites-web/" target="_blank">Tous les sites</a></li>
    <li>|</li>
    <li><a href="https://guide-aides.hautsdefrance.fr/" target="_blank">Guides des aides</a></li>
    <li>|</li>
    <li><a href="https://www.prochorientation.fr/" target="_blank">Proch'Orientation</a></li>
    <li>|</li>
    <li><a href="https://tv.hautsdefrance.fr/" target="_blank">La WebTv</a></li>
    <li>|</li>
    <li><a href="https://europe-en-hautsdefrance.eu/" target="_blank">L'Europe s'engage en Hauts-de-France</a></li>
    <li>|</li>
    <li><a href="https://www.hautsdefrance.fr/categorie/dossiers/marches-publics/" target="_blank">Marchés publics</a>
    </li>
    <li>|</li>
    <li><a href="https://generation.hautsdefrance.fr/" target="_blank">Génération Hauts-de-France</a></li>
</ul>
